nav, #quem-somos, #nossos-produtos {
    background-color: #6441a5;
    
}

#logo {
    font-size: 50px;
    text-decoration: none;
}

#navbar {
    font-size: 20px;
}

.carousel {
    height: 500px;
  }

.mouse-image {
    height: 50vh;
    padding-bottom: 50px;
    padding-top: 30px;
}
#quem-somos img {
    height: 300px;
    width: 300px;
    border-radius: 300px;
}

#nosso-time h2 {
    padding-bottom: 20px;
}

#nosso-time img {
    height: 150px;
    width: 150px;
    border-radius: 150px;
}

#nossos-produtos h2 {
    padding-bottom: 20px;
}

.card {
    background-color: #343a40;
}

